
<div class="navigation" id="gallery">
	<a ui-sref="galerry">Галерея</a>
	<a href="#" data-hover="Sumptuous">Про Мене</a>
	<a href="#" data-hover="Scintilla">Контакти</a>
</div>
<div class="galleryContent">
	<div class="grid" >
	
		<figure class="effect-romeo" ng-repeat="album in vm.albums track by album._id">
			<img src=" {{album.titlePhoto}} " alt="{{album.titlePhoto}}"/>
			<figcaption>
				<h2>{{album.title}}</h2>
				<p>{{album.discription}}</p>
				<a ui-sref="photos({id: album._id})">View more</a>
			</figcaption>
		</figure>
		
	</div>
</div>
