<div id="container" class="container intro-effect-sidefixed" ng-controller="MainCtrl">
			<!-- Top Navigation -->
			<header class="header">
				<div class="bg-img"><img src="img/bgimg.jpg" alt="Background Image" /></div>
			</header>
			<article class="content">
				<div class="title">
<!-- 					<img src="img/logo.png"> -->
					<h1>SOVA The Photograph</h1>
					<p class="subline">Best phograph here!</p>
				</div>
				<div class="navigation">
					<a ui-sref="galerry">Галерея</a>
					<a href="#" data-hover="Sumptuous">Про Мене</a>
					<a href="#" data-hover="Scintilla">Контакти</a>
				</div>
				<div class="contentItem">
					<img src="img/imgItem1.jpg">
					<h1>Весільний фотосет</h1>
					<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
				</div>
				<div class="contentItem">
					<img src="img/imgItem1.jpg">
					<h1>Весільний фотосет</h1>
					<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
				</div>
				<div class="contentItem">
					<img src="img/imgItem1.jpg">
					<h1>Весільний фотосет</h1>
					<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
				</div>
				<div class="contentItem">
					<img src="img/imgItem1.jpg">
					<h1>Весільний фотосет</h1>
					<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>s
				</div>
			</article>
</div>
<script src="./js/scrollEfect.js"></script>